.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f0f0;
    height: 150px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px  rgb(235, 234, 234);
    border: 1px solid rgb(234, 230, 230);
    
}
.container div{
    display: flex;
    align-items: center;
    width: 142px;
    gap:10px;
}