.categories {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.categories h1 {
    color: #236002;
    font-weight: 600;
    font-size: 2rem;
}

.btn {
    background-color: #7acd32;
    border-radius: 30px;
    height: 35px;
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;

}

.icon {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.swiper {
    width: 100%;
    padding: 30px 20px;
}

.swiper :global(.swiper-wrapper) {
    padding: 20px 5px;
}



.arrow:hover {
    background-color: greenyellow;
    color: white;
}


.prevArrow {
    position: absolute;
    top: 50%;
    left: 18px;
    z-index: 10;
      flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: grey;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    
}

.nextArrow {
    position: absolute;
    top: 50%;
    right: 18px;
    z-index: 10;

    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}