.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color:#e8fcda;
    margin-top: 20px;
    border-radius: 2px;
}

.container h3 {
    font-weight: 400;
    font-size: 1rem;
    color:#236002;
}

.container h1 {
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

.foodImage {
    height: 500px;
    width: auto;
    object-fit: cover;
   background-color:#e8fcda;
}

.btn {
    border: none;
    border-radius: 20px;
    background-color:#7acd32;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.btnArrow {
    background-color: white;
    border-radius: 100%;
    
}